img {
	border-radius: 10px;
	height: 195px;
	width: 430px;
	
}	

h1 {
	font-family: Verdana;
	font-size: 36px;

	}
	
h3 {
	font-family: Verdana;
	font-size: 32px;

}

body {
	background-color: #B5B5B5;
	font-family: Arial;
}

p {
	font-size: 22px; 
